* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom right, rgb(246, 129, 187), rgb(244, 48, 201));
    height: 100vh;
    align-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 450px;
    background: white;
    border-radius: 20px;
    margin: 40px auto;
    padding: 20px;
    gap: 40px;
}

.text-box {
    border: 1px solid rgb(239, 225, 225);
    /* padding: 8px; */
    border-radius: 6px;
    background-color: rgb(250, 243, 243);
    width: 90%;
    height: 250px;
}

#text-display {

    width: 90%;
    height: 500px;
    text-align: center;
    align-content: center;
    /* padding: 8px; */
    margin: auto;
    border-radius: 6px;
    background-color: aliceblue;


}

#buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 90%;


}

button {

    padding: 8px 15px;
    width: 120px;
    height: 40px;
    border-radius: 8px;
    text-align: center;
    color: rgb(251, 245, 245);
    margin: 10px auto;
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: transform 0.6s ease, box-shadow 1s ease;
    cursor: pointer;


}

#uppercase {
    background-color: rgb(192, 126, 236);
}

#lowercase {
    background-color: rgb(192, 126, 236);
}

#capitalize {
    background-color: rgb(192, 126, 236);
}

#red-text {
    background-color: red;
}

#blue-text {
    background-color: rgb(0, 166, 255);
}

#green-text {
    background-color: rgb(33, 201, 7);
}

#bigger-font {
    background-color: rgb(192, 126, 236);
}

#smaller-font {
    background-color: rgb(192, 126, 236);
}

#reset {
    background-color: orange;
    width: 100%;
}



#uppercase:hover {

    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgb(192, 126, 236);
}

#lowercase:hover {

    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgb(192, 126, 236);
}

#capitalize:hover {

    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgb(192, 126, 236);
}

#red-text:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgb(250, 115, 115);
}

#blue-text:hover {

    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgb(142, 234, 250);
}

#green-text:hover {

    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgb(135, 247, 55);
}

#bigger-font:hover {

    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgb(192, 126, 236);
}

#smaller-font:hover {

    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgb(192, 126, 236);
}

#reset:hover {

    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgb(252, 184, 56);
}